doctype
html(lang="de")
	head
		//- 
		title flink project
		//- Meta Crap
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=Edge;chrome=1")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(name="description", content=PageDescription)
		//- Stylesheets
		link(rel="stylesheet", href="css/flink.css")
	body
		header
		main
			h1 Flink Project Headline
			h2 Flink Project Headline 
			h3 Flink Project Headline 
			h4 Flink Project Headline 
			h5 Flink Project Headline 
			h6 Flink Project Headline
			p.
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore culpa, consequatur ab reprehenderit reiciendis laudantium atque. Provident blanditiis voluptatem, corporis! Esse laboriosam voluptatem neque. Praesentium rem illum, molestias voluptatibus facilis. Ein kleines Projekt
			a(href="/") flink link
			a.button flink button

		footer
		script(src="flink.min.js" type="text/javascript")
