/*------------------------------------*\
    $DEBUG
\*------------------------------------*/

debug-mode = false !default
global-border-box = true !default




/*------------------------------------*\
    $FONT-SIZES
\*------------------------------------*/

base-font-size = 10px
base-line-height = 24px
base-font-family = sans-serif
base-ui-color = #ccc





/*------------------------------------*\
    $FONT-SIZES
\*------------------------------------*/

h1-size = 36px
h2-size = 30px
h3-size = 24px
h4-size = 20px
h5-size = 16px
h6-size = 14px

milli-size = 12px
micro-size = 10px





/*------------------------------------*\
    $FONT-SIZES
\*------------------------------------*/

brand-color = #4a8ec2
brand-face = "Helvetica Neue", sans-serif
brand-round = 4px

base-spacing-unit = base-line-height
half-spacing-unit = base-line-height / 2
line-height-ratio = base-line-height / base-font-size

